<h1>會員註冊</h1>

<%= form_for(@user, url: '/account_verify') do |form| %>
  <div class="fields">
    <%= form.label :email, '信箱' %>
    <%= form.email_field :email %>
  </div>

  <div class="fields">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="fields">
    <%= form.label :password, '密碼' %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit '註冊' %>
  </div> 

<% end %>

<%#form method="post" action = '/account_verify'>
  <input type="hidden" name='_method' value='put'>偷偷塞入想要執行的方法
  <input type="text" name='authenticity_token' value='<%= form_authenticity_token %>
  <%#form_authenticity_token ruby語法>
  <input type="text" name='usernsme'>
  <input type="password" name="password">
  <input type="submit" value="登入">
</#form>